# Sources
*.c     text diff=cpp
*.cc    text diff=cpp
*.cxx   text diff=cpp
*.cpp   text diff=cpp
*.cpi   text diff=cpp
*.c++   text diff=cpp
*.hpp   text diff=cpp
*.h     text diff=cpp
*.h++   text diff=cpp
*.hh    text diff=cpp

# Compiled Object files
*.slo   binary
*.lo    binary
*.o     binary
*.obj   binary

# Precompiled Headers
*.gch   binary
*.pch   binary

# Compiled Dynamic libraries
*.so    binary
*.dylib binary
*.dll   binary

# Compiled Static libraries
*.lai   binary
*.la    binary
*.a     binary
*.lib   binary

# Executables
*.exe   binary
*.out   binary
*.app   binary


# 3D models
*.3dm        binary           lfs
*.3ds        binary           lfs
*.blend      binary           lfs
*.blend1     binary           lfs
*.c4d        binary           lfs
*.collada    binary           lfs
*.dae        binary           lfs
*.dxf        binary           lfs
*.FBX        binary           lfs
*.fbx        binary           lfs
*.jas        binary           lfs
*.lws        binary           lfs
*.lxo        binary           lfs
*.ma         binary           lfs
*.max        binary           lfs
*.mb         binary           lfs
*.obj                         lfs
*.ply        binary           lfs
*.skp        binary           lfs
*.stl        binary           lfs
*.ztl        binary           lfs

# Audio
*.aif         binary          lfs
*.aiff        binary          lfs
*.it          binary          lfs
*.mod         binary          lfs
*.mp3         binary          lfs
*.ogg         binary          lfs
*.s3m         binary          lfs
*.wav         binary          lfs
*.xm          binary          lfs

# Video
*.asf         binary          lfs
*.avi         binary          lfs
*.flv         binary          lfs
*.mov         binary          lfs
*.mp4         binary          lfs
*.mpeg        binary          lfs
*.mpg         binary          lfs
*.ogv         binary          lfs
*.wmv         binary          lfs

# Images
*.bmp         binary          lfs
*.exr         binary          lfs
*.gif         binary          lfs
*.hdr         binary          lfs
*.iff         binary          lfs
*.jpeg        binary          lfs
*.jpg         binary          lfs
*.pict        binary          lfs
*.png         binary          lfs
*.psd         binary          lfs
*.tga         binary          lfs
*.tif         binary          lfs
*.tiff        binary          lfs
*.webp        binary          lfs

# Compressed Archive
*.7z          binary          lfs
*.bz2         binary          lfs
*.gz          binary          lfs
*.rar         binary          lfs
*.tar         binary          lfs
*.zip         binary          lfs