# Sources
*.c     text diff=cpp
*.cc    text diff=cpp
*.cxx   text diff=cpp
*.cpp   text diff=cpp
*.cpi   text diff=cpp
*.c++   text diff=cpp
*.hpp   text diff=cpp
*.h     text diff=cpp
*.h++   text diff=cpp
*.hh    text diff=cpp
# Compiled Object files
*.slo        binary          merge=lfs
*.lo         binary          merge=lfs
*.o          binary          merge=lfs
*.obj        binary          merge=lfs
# Precompiled Headers
*.gch        binary          merge=lfs
*.pch        binary          merge=lfs
# Compiled Dynamic libraries
*.so         binary          merge=lfs
*.dylib      binary          merge=lfs
*.dll        binary          merge=lfs
# Compiled Static libraries
*.lai        binary          merge=lfs
*.la         binary          merge=lfs
*.a          binary          merge=lfs
*.lib        binary          merge=lfs
# Executables
*.exe        binary          merge=lfs
*.out        binary          merge=lfs
*.app        binary          merge=lfs
# 3D models
*.3dm        binary          merge=lfs
*.3ds        binary          merge=lfs
*.blend      binary          merge=lfs
*.blend1     binary          merge=lfs
*.c4d        binary          merge=lfs
*.collada    binary          merge=lfs
*.dae        binary          merge=lfs
*.dxf        binary          merge=lfs
*.FBX        binary          merge=lfs
*.fbx        binary          merge=lfs
*.jas        binary          merge=lfs
*.lws        binary          merge=lfs
*.lxo        binary          merge=lfs
*.ma         binary          merge=lfs
*.max        binary          merge=lfs
*.mb         binary          merge=lfs
*.obj                        merge=lfs
*.ply        binary          merge=lfs
*.skp        binary          merge=lfs
*.stl        binary          merge=lfs
*.ztl        binary          merge=lfs
# Audio
*.aif         binary         merge=lfs
*.aiff        binary         merge=lfs
*.it          binary         merge=lfs
*.mod         binary         merge=lfs
*.mp3         binary         merge=lfs
*.ogg         binary         merge=lfs
*.s3m         binary         merge=lfs
*.wav         binary         merge=lfs
*.xm          binary         merge=lfs
# Video
*.asf         binary         merge=lfs
*.avi         binary         merge=lfs
*.flv         binary         merge=lfs
*.mov         binary         merge=lfs
*.mp4         binary         merge=lfs
*.mpeg        binary         merge=lfs
*.mpg         binary         merge=lfs
*.ogv         binary         merge=lfs
*.wmv         binary         merge=lfs
# Images
*.bmp         binary         merge=lfs
*.exr         binary         merge=lfs
*.gif         binary         merge=lfs
*.hdr         binary         merge=lfs
*.iff         binary         merge=lfs
*.jpeg        binary         merge=lfs
*.jpg         binary         merge=lfs
*.pict        binary         merge=lfs
*.png         binary         merge=lfs
*.psd         binary         merge=lfs
*.tga         binary         merge=lfs
*.tif         binary         merge=lfs
*.tiff        binary         merge=lfs
*.webp        binary         merge=lfs
# Compressed Archive
*.7z          binary         merge=lfs
*.bz2         binary         merge=lfs
*.gz          binary         merge=lfs
*.rar         binary         merge=lfs
*.tar         binary         merge=lfs
*.zip         binary         merge=lfs
