# Xmake cache
.xmake/
build/
vsxmake*/
CMakeLists.txt
/.vscode
/.idea

# MacOS Cache
.DS_Store

compile.*

*.dll
*.so
*.pdb
*.lib
/.vscode
*.a
*.*~

*.spv

# Xcode
*.xcodeproj

# Engine
/Engine/cache
/.vs
